<section id="book-details">
  <% results.forEach( book => { %>
  <div class="book-template">
    <img src="<%= book.image_url %>" alt="Book Cover">
    <h1 id="book-title"><span>Title: </span> <%= book.title %></h1>
    <h2 id="book-author"><span> Author:</span> <%= book.author %></h2>
    <p id="book-desc"><%= book.description%></p>
  </div>
  <% }); %>
</section>