<!DOCTYPE html>
<html>

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/icons.css">

</head>

<body>
  <header>
    <div class="navbar" id="navbar">
      <h1 class="brand">My Bookself</h1>
      <div>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/">About</a>
        <a class="nav-link" href="/">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

  </header>
  <div class="wrapper">
    <main>
      <h3 class="page-title">Search Results</h3>

      <div id="bookList">
        <%- include('detail'); -%>
      </div>
    </main>
  </div>

  <footer>

  </footer>
</body>

</html>