<!DOCTYPE html>
<html>
<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <link rel="stylesheet" href="/styles/icons.css">
</head>

<body>
  <header>
    <div class="navbar" id="navbar">
      <h1 class="brand">My Library</h1>
      <div>
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/searches/new">Search</a>
        <a class="nav-link" href="#">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

  </header>
  <div class="wrapper">
    <main>
      <h1 class="page-title"><%= book.title %></h1>
      <div id="bookList">
        <%- include('detail'); -%>
      </div>
    </main>
  </div>

  <footer>

  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
  <script src="js/app.js"></script>
</body>

</html>