<!DOCTYPE html>
<html>

<head>
  <title>Book Collection</title>
  <link rel="stylesheet" href="/styles/base.css">
</head>

<body>
  <header>Hello World</header>
  <main>
    <p><a href="/">Home</a></p>
    <h3>Error</h3>
    <p>Application Error</p>
  </main>
  <footer>

  </footer>
  <!-- <script src=""></script> -->
</body>

</html>