<!DOCTYPE html>
 <html> 
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/base.css">
  </head>
  <body>
    <header>Hello World</header>
    <main>
      <h1>This is the home page.</h1>
      <h3>Search for A Book</h3>
      <form action="/searches" method="post">
        <input type="text" name="search" placeholder="Enter a title or author">
        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>
        </fieldset>
        <fieldset>
          <label for="author">
            <span>author</span>
            <input type="radio" name="search" value="author" required>
          </label>
        </fieldset>
        <button type="submit">Search Google Books</button>
      </form>
    </main>
    <footer>

    </footer>
    <!-- <script src=""></script> -->
  </body>
</html>

