<!DOCTYPE html>
 <html class="no-js"> 
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="">
  </head>
  <body>
    <header>Hello World</header>
    <main>
      <p>This is the home page.</p>
    </main>
    <footer>

    </footer>
    <script src=""></script>
  </body>
</html>

