<!DOCTYPE html>
 <html class="no-js"> 
  <head>
    <title>Book Collection</title>
    <link rel="stylesheet" href="/styles/base.css">
  </head>
  <body>
    <header>Hello World</header>
    <main>
      <h1>This is the home page.</h1>
    </main>
    <footer>

    </footer>
    <script src=""></script>
  </body>
</html>

