* {
  box-sizing: border-box;
}
html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
  background-color: #eee;
  margin: 0 auto;
}
h1 {
  color: white;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 480px;
    margin: 0 auto;
  }
}
header, main, footer, section, div {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    width: 960px;
    margin: 0 auto;
  }
}