header {
  background-color: black;
  padding: 5px;
}

ul {
  list-style: none;
}

@media (max-width: 600px) {
  .wrapper {
    display: grid;
    grid-gap: 10px;
    background-color: #aaa;
  }
  .book-template {
    border: 1px solid whitesmoke;
    padding: 40px;
    margin: 20px auto;
  }
  #search {
    text-align: left;
    /* height: 90vh; */
  }
  input {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    line-height: 25px;
    font-size: 18px;
  }
  #searchBar {
    width: 100%;
    
  }
  label {
    line-height: 20px;
    font-size: 18px;
  }
  fieldset {
    align-items: start;
    margin-bottom: 20px;
    background-color: #eee;
    border: none;
    border-radius: 4px;
  }
  button {
    padding: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;

    
  }
}